node_modules/.package-lock.json
node_modules/.bin/mime
node_modules/.bin/mime.cmd
node_modules/.bin/mime.ps1
node_modules/.bin/node-gyp-build
node_modules/.bin/node-gyp-build-optional
node_modules/.bin/node-gyp-build-optional.cmd
node_modules/.bin/node-gyp-build-optional.ps1
node_modules/.bin/node-gyp-build-test
node_modules/.bin/node-gyp-build-test.cmd
node_modules/.bin/node-gyp-build-test.ps1
node_modules/.bin/node-gyp-build.cmd
node_modules/.bin/node-gyp-build.ps1
node_modules/.bin/prebuild-install
node_modules/.bin/prebuild-install.cmd
node_modules/.bin/prebuild-install.ps1
node_modules/.bin/rc
node_modules/.bin/rc.cmd
node_modules/.bin/rc.ps1
node_modules/.bin/semver
node_modules/.bin/semver.cmd
node_modules/.bin/semver.ps1
node_modules/@serialport/bindings/build/binding.Makefile
node_modules/@serialport/bindings/build/binding.sln
node_modules/@serialport/bindings/build/bindings.target.mk
node_modules/@serialport/bindings/build/bindings.vcxproj
node_modules/@serialport/bindings/build/bindings.vcxproj.filters
node_modules/@serialport/bindings/build/config.gypi
node_modules/@serialport/bindings/build/Makefile
node_modules/@serialport/bindings/build/Release/bindings.iobj
node_modules/@serialport/bindings/build/Release/bindings.ipdb
node_modules/@serialport/bindings/build/Release/bindings.node
node_modules/@serialport/bindings/build/Release/bindings.pdb
node_modules/@serialport/bindings/build/Release/.deps/Release/bindings.node.d
node_modules/@serialport/bindings/build/Release/.deps/Release/obj.target/bindings.node.d
node_modules/@serialport/bindings/build/Release/.deps/Release/obj.target/bindings/src/poller.o.d
node_modules/@serialport/bindings/build/Release/.deps/Release/obj.target/bindings/src/serialport_linux.o.d
node_modules/@serialport/bindings/build/Release/.deps/Release/obj.target/bindings/src/serialport_unix.o.d
node_modules/@serialport/bindings/build/Release/.deps/Release/obj.target/bindings/src/serialport.o.d
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.node.recipe
node_modules/@serialport/bindings/build/Release/obj/bindings/win_delay_load_hook.obj
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.tlog/bindings.lastbuildstate
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.tlog/CL.command.1.tlog
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.tlog/Cl.items.tlog
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.tlog/CL.read.1.tlog
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.tlog/CL.write.1.tlog
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.tlog/link.command.1.tlog
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.tlog/link.read.1.tlog
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.tlog/link.secondary.1.tlog
node_modules/@serialport/bindings/build/Release/obj/bindings/bindings.tlog/link.write.1.tlog
node_modules/@serialport/bindings/build/Release/obj/bindings/src/serialport_win.obj
node_modules/@serialport/bindings/build/Release/obj/bindings/src/serialport.obj
node_modules/@serialport/bindings/build/Release/obj.target/bindings.node
node_modules/@serialport/bindings/build/Release/obj.target/bindings/src/poller.o
node_modules/@serialport/bindings/build/Release/obj.target/bindings/src/serialport_linux.o
node_modules/@serialport/bindings/build/Release/obj.target/bindings/src/serialport_unix.o
node_modules/@serialport/bindings/build/Release/obj.target/bindings/src/serialport.o
node_modules/@serialport/bindings/src/darwin_list.cpp
node_modules/@serialport/bindings/src/darwin_list.h
node_modules/@serialport/bindings/src/serialport_linux.cpp
node_modules/@serialport/bindings/src/serialport_linux.h
node_modules/@serialport/bindings/src/serialport_unix.cpp
node_modules/@serialport/bindings/src/serialport_unix.h
node_modules/@serialport/bindings/src/serialport.h
node_modules/@types/cookie/index.d.ts
node_modules/@types/cookie/LICENSE
node_modules/@types/cookie/package.json
node_modules/@types/cookie/README.md
node_modules/@types/cors/README.md
node_modules/@types/node/README.md
node_modules/@types/w3c-web-usb/README.md
node_modules/better-sqlite3/build/Release/better_sqlite3.node
node_modules/better-sqlite3/deps/download.sh
node_modules/better-sqlite3/deps/sqlite3.gyp
node_modules/mime/cli.js
node_modules/mime/src/build.js
node_modules/nan/tools/1to2.js
node_modules/node-addon-api/tools/conversion.js
node_modules/node-gyp-build/bin.js
node_modules/node-gyp-build/build-test.js
node_modules/node-gyp-build/optional.js
node_modules/prebuild-install/bin.js
node_modules/rc/cli.js
node_modules/rc/index.js
node_modules/semver/bin/semver.js
node_modules/usb/libusb/autogen.sh
node_modules/usb/libusb/bootstrap.sh
node_modules/usb/libusb/INSTALL_WIN.txt
node_modules/usb/libusb/.private/appveyor_build.sh
node_modules/usb/libusb/.private/bm.sh
node_modules/usb/libusb/.private/ci-build.sh
node_modules/usb/libusb/.private/ci-container-build.sh
node_modules/usb/libusb/.private/post-rewrite.sh
node_modules/usb/libusb/.private/pre-commit.sh
node_modules/usb/libusb/msvc/Base.props
node_modules/usb/libusb/msvc/Configuration.Application.props
node_modules/usb/libusb/msvc/Configuration.Base.props
node_modules/usb/libusb/msvc/Configuration.DynamicLibrary.props
node_modules/usb/libusb/msvc/Configuration.StaticLibrary.props
node_modules/usb/libusb/msvc/dpfp_threaded.vcxproj
node_modules/usb/libusb/msvc/dpfp.vcxproj
node_modules/usb/libusb/msvc/fxload.vcxproj
node_modules/usb/libusb/msvc/getopt.vcxproj
node_modules/usb/libusb/msvc/hotplugtest.vcxproj
node_modules/usb/libusb/msvc/init_context.vcxproj
node_modules/usb/libusb/msvc/libusb_dll.vcxproj
node_modules/usb/libusb/msvc/libusb_static.vcxproj
node_modules/usb/libusb/msvc/libusb.sln
node_modules/usb/libusb/msvc/listdevs.vcxproj
node_modules/usb/libusb/msvc/ProjectConfigurations.Base.props
node_modules/usb/libusb/msvc/sam3u_benchmark.vcxproj
node_modules/usb/libusb/msvc/set_option.vcxproj
node_modules/usb/libusb/msvc/stress_mt.vcxproj
node_modules/usb/libusb/msvc/stress.vcxproj
node_modules/usb/libusb/msvc/testlibusb.vcxproj
node_modules/usb/libusb/msvc/xusb.vcxproj
node_modules/usb/prebuilds/android-arm/node.napi.armv7.node
node_modules/usb/prebuilds/android-arm64/node.napi.armv8.node
node_modules/usb/prebuilds/darwin-x64+arm64/node.napi.node
node_modules/usb/prebuilds/linux-arm/node.napi.armv6.node
node_modules/usb/prebuilds/linux-arm/node.napi.armv7.node
node_modules/usb/prebuilds/linux-arm64/node.napi.armv8.node
node_modules/usb/prebuilds/linux-ia32/node.napi.node
node_modules/usb/prebuilds/linux-x64/node.napi.glibc.node
node_modules/usb/prebuilds/linux-x64/node.napi.musl.node
node_modules/usb/src/hotplug/hotplug.h
node_modules/usb/src/hotplug/libusb.cc
node_modules/usb/src/hotplug/windows.cc
